@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --b1: #e4e4e4;
  --b2: #252625;
  --c1: #929493;
  --w1: #edf0ee;
  --w2: #d4d9d5;
  --w3: #bec2bf;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header start  */

header{
position: absolute;
top: 0;
width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: flex-end;
background-color:  var(--w2);
padding-bottom: 20px;
z-index: 10000;
border-bottom: 5px solid var(--w1);
margin-bottom: 0;
}
header .navbar{
display: flex;
align-items: flex-end;

flex-wrap: wrap;
gap: 15px;
}
header .navbar a{
text-decoration: none;
text-align: center;
padding: 10px 40px;
margin: 10px 0 0 0 ;
color: var(--c1);
background-color: transparent;
border: none;
font-family: "Poppins", sans-serif !important;
font-weight: 120 !important;
font-style: normal !important;
}
.dropdown{
display: flex;
justify-content: center;

}
.dropdown button{
text-decoration: none;
text-align: center;
padding: 12px 48px;
margin: 10px 0 0 0 ;
color: #ffffff;
border: none;
background-color: transparent;
font-family: "Press Start 2P", system-ui;
font-weight: 400;
font-style: normal;

}
.dropdown-content{
display: none;
position: absolute ;
margin: 0px 10px;
cursor: pointer;
background-color: var(--b1)!important; 
gap: 5px;
padding: 20px 10px;
}
.dropdown:hover .dropdown-content{
display: flex;
flex-direction: column; 

}
header .navbar> *:not(div):hover{
background-color: var(--w1);
}
.dropdown-content a:hover {
background-color: var(--w1);
}
.dropbtn{
border: none;
cursor: default;

}
/* Header end  */
body{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--w2);
}
.container{
  display: inline-block;
  padding: 30px;
  margin: 50px auto;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(201,185,201,1);
  -moz-box-shadow: 0px 0px 10px 1px rgba(201,185,201,1);
  box-shadow: 0px 0px 10px 1px rgba(201,185,201,1);
  background-color: var(--w1);
  margin-block: 100px;
}
h1{
  margin: 0 auto;
}
.square{
  display: inline-block;
  margin: 0 auto;
  padding: 7px;
  border-radius: 3px;
  background-color: var(--w3);
}
.square section{
  display: flex;
  flex-direction: row;
}

.selected::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41);
  /* filter:  opacity(1); */
  mix-blend-mode: multiply;
  transition: all 1050ms ease ;
} 
#kiriface::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41);
  /* filter:  opacity(1); */
  mix-blend-mode: multiply;
  animation: kirito 1500ms linear infinite alternate;
} 
/* section div:not(#kiriface):hover::before{
  background-color: transparent;
  transition: background-color 500ms;
} */
section div{
  background-color: #000000;
  height: 150px;
  width: 150px;
  margin: 3px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
p{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 48px;
    color: #b2e046;
    vertical-align: bottom;
    opacity: 0;
    /* animation-play-state: paused; */
    pointer-events: none;
  }
  .bingo{
    opacity: .9;
    animation-play-state: running;
    animation: Bingo 500ms ;
    color: #b2e046;
}
span{
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(28,28,27,1) 55%, rgba(255,255,255,0) 91%); 
  color: rgb(207, 207, 207);
  position: absolute;
  padding: 10px 0;
  width: 100%;
  HEIGHT: 60PX;
  bottom: 0;
  opacity: 1;
  transition: opacity 400ms ease-in ;
}
section div:hover span{
  transition: opacity 200ms ease-in ;
  color: rgb(248, 248, 248);
  opacity: 1;
}
@keyframes kirito{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes Bingo{
  0%{
    opacity: 0;
    transform: scale(1.5);
  }
  50%{
    opacity: 1;
    transform: scale(0,5);
  }
}
section div:hover{
  /* filter: brightness(1);
  transition: filter 500ms ; */
  outline: 3px solid rgb(58, 58, 211);
}
.tile1{
    background-image: url(bingoImg/1_kirito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: -30px; */
    /* filter: brightness(0.2); */
}
.tile2{
    background-image: url(bingoImg/2_minwaifu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
}
.tile3{
    background-image: url(bingoImg/3_CGI_turtle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -70px;
}
.tile4{
    background-image: url(bingoImg/4_Mach.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    background-position-y: -28px;
}
.tile5{
    background-image: url(bingoImg/5_boru.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    background-position-y: -28px;
}
.tile6{
    background-image: url(bingoImg/6_maou.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    background-position-y: -28px;
}
.tile7{
    background-image: url(bingoImg/7_jugemu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    background-position-y: -28px;
}
.tile8{
    background-image: url(bingoImg/8_cute.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: -55px; */
    /* background-position-y: -28px; */
}
.tile9{
    background-image: url(bingoImg/9_Axel.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
    background-position-y: -28px;
}
.tile10{
    background-image: url(bingoImg/10_edge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -55px;
}
.tile11{
    background-image: url(bingoImg/11_produçao.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position-x: -55px; */
}
.tile12{
  background-image: url(bingoImg/12_ecchi.png);
  background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -45px;
}
.tile13{
    background-image: url(bingoImg/Get\ A\ Feeling\ So\ Complicated.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -80px;
}
.tile14{
    background-image: url(bingoImg/14_kazu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -60px;
    background-position-y: -23px;
}
.tile15{
    background-image: url(bingoImg/15_loja.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
}
.tile16{
    background-image: url(bingoImg/16_confirmado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    overflow: hidden;
}
video{
  height: 150px;
  position: absolute;
}
.tile17{
    background-image: url(bingoImg/17_card.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -28px;
}
.tile18{
    background-image: url(bingoImg/18_myne.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -40px;
    background-position-y: -38px;
}
.tile19{
    background-image: url(bingoImg/19_sao.jpg);
    background-size: 250%;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: -58px;
}
.tile20{
    background-image: url(bingoImg/20_rpg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 0px;
}

.tile21{
      background-image: url(bingoImg/21_producao.jpg);
      background-size: cover;
      background-repeat: no-repeat;
}
.tile22{
      background-image: url(bingoImg/22_overpower.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -55px;
}
.tile23{
      background-image: url(bingoImg/23_tatetate.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-y: -50px;
      background-position-x: -10px;
}
.tile24{
      background-image: url(bingoImg/24_ga.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -55px;
}
.tile25{
      background-image: url(bingoImg/25_smile.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: -55px;
}
