@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root{
    --b1: rgb(40, 41, 43);
    --b2: rgb(58, 67, 124);
    --b3: rgb(68, 82, 175);
    --y1: #f0d13a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(58, 67, 124);
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color:  rgb(40, 41, 43);
    padding-bottom: 20px;
    z-index: 10000;
    border-bottom: 5px solid #f0d13a;
    margin-bottom: 0;
}
header .navbar{
    display: flex;
    align-items: flex-end;

    flex-wrap: wrap;
    gap: 15px;
}
header .navbar a{
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    margin: 10px 0 0 0 ;
    color: white;
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 120;
    font-style: normal;
}
.dropdown{
	display: flex;
	justify-content: center;

}
.dropdown button{
    text-decoration: none;
    text-align: center;
    padding: 12px 48px;
    margin: 10px 0 0 0 ;
    color: #e1e1e1;
    border: none;
    background-color: transparent;
     font-family: "Press Start 2P", system-ui;
      font-weight: 400;
      font-style: normal;
      
}
.dropdown-content{
    display: none;
    position: absolute ;
    margin: 0px 10px;
    cursor: pointer;
    background-color: rgb(40, 41, 43)!important; 
    gap: 5px;
    padding: 20px 10px;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column; 
    
}
header .navbar> *:not(div):hover{
    background-color: rgb(56, 57, 59);
}
.dropdown-content a:hover {
    background-color: rgb(61, 62, 65);
}
.dropbtn{
    border: none;
    cursor: default;

}
.logo{
    background-color:transparent;
    backdrop-filter: blur(7px);
    margin: 50px auto;
    width: 85%;
    height: 65vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.123);
    border-radius: 35px;
    margin-top: 90px;
    
    z-index: 9999 !important;
} 
main{    
    background-color: transparent;
    display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
    margin: 50px auto;
	position: relative;
              
}
.paragraph{
    display: inline-block;
    width: fit-content;
    background-color: white;
    border-radius: 0 1000px 0 0;
    padding-right: 30px;
    padding-left: 30px;
}
.container{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	overflow: hidden;
	background-color: white;
    border-bottom: 3px solid var(--b1) ;		
}
.box::after{
    content: attr(data-name);
    color: whitesmoke;
    background-color: rgba(50, 50, 93, 0.25);
    width: 100%;
    font-size: 1.3rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 230;
}
.box:hover{
    background-color: var(--y1);
}
.box{
	position: relative;
	border: 3px solid var(--b1);
    border-bottom: none;
	background-color: var(--b3);
	max-height: 700px;
	max-width: 250px;
    overflow: hidden;
    transition: background-color ease-in-out 500ms;
	z-index: 110;
}
.box img{
	transform: scaleX(-1);
    
}
.box img{
    height: 700px;
    width: 100%;
    aspect-ratio: 1/4;
    object-fit: cover;
    object-position: left;
    animation: an-runA 15s linear infinite, an-runB 15s ease-in-out infinite;
}

@keyframes an-runA{
    0%{
        object-position: left;
    }
    10%, 100%{
        object-position: center;
    }   
}

 @keyframes an-runB{
    0%{
        aspect-ratio: 1/4;
    }
    20%, 100%{
        aspect-ratio: 4/4;
    }   
}
.container2{
    background-color: rgb(40, 41, 43);
    display: flex;
    justify-content: center;
	margin-inline: auto;
	margin-bottom: -250px;
   	width: 100%;
    max-height: 800px;
    	  padding: 30px;
    position: relative;
		
    border-radius: 3px;
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    padding-bottom: 300px;
}
.container2 div{
    background-color: rgb(49, 49, 49);
    
    width: 160px;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    transition: all 400ms ease-in-out;	
	

}
.container2 div button{
    position: absolute;
    bottom: 20px;
    padding: 10px 30px;
    margin: 10px 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    /* transition: transform 500ms ease-in-out; */
    transition: color 500ms ease-in-out;
}
.container2 div button:hover{
    background-color: whitesmoke;
    color: rgb(170, 170, 170);
}
.container2 div button a{
    text-decoration: none;
    color: white;
}
.container2 div article{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 53%, rgba(0,0,0,0) 92%, rgba(255,255,255,0) 100%); 
    height: 80vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity 1200ms ease-in-out;	

}
.container2 div:hover article{
    opacity: 1;
}
.container2 div article span{
    color: white;
    margin: 0 10px;
} 
.anime0{
    background-image: url(In_01.gif) !important;
    background-size: 400%;
    background-position-x: center; 
    background-repeat: no-repeat;
    width: 80% !important;
    
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 0px;

}
.anime1{
    background-image: url(In_02.gif) !important;
    background-size: 400%;
    background-position-x: center; 
    background-repeat: no-repeat;
       width: 80% !important;
    
    border: 2px solid white;
    border-radius: 10px;
    transition: all 5s ease-in-out;
    margin: 0px 0px;
    
}
.anime2{
    background-image: url(In_03.gif) !important;
    background-size: 400%;
    background-position-x: center; 
    background-repeat: no-repeat;
       width: 80% !important;
    
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 0px;
    
}

.A1{
    background-image: url(A123/A1.png);
    background-size: cover;
    background-origin: bottom;
		position: relative;
	z-index: 200;
}
.A2{
    background-image: url(A123/A2.png);
    background-size: cover;	
	position: relative;
	z-index: 200;
}
.A3{
    background-image: url(A123/A3.png);
    background-size: cover;
		position: relative;
	z-index: 200;
}



footer{
	height: 30dvh;
	width: 100%;
	background-color: rgb(40, 41, 43);
	
	border-top: 5px solid #f0d13a;
}



.wrapper{
    position: absolute;
	top: 0;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}
.wrapper span img{
    height: 120px;
    width: auto;
}
.wrapper span{
    animation: flow calc(400s/ var(--i)) linear infinite;
}
@keyframes flow {
    0%{transform: translateY(110vh) scale(0.5) rotate(0deg); opacity: 1;}
    90%{transform: translateY(-20vh) scale(0.7) rotate(720deg); opacity: 0.5;}
    100%{opacity: 0; transform: translateY(-40vh) scale(0.1) rotate(1080deg);}
}

.logo{
    position: relative;
}
.btns{
    position: absolute;
    bottom: 18px;
    right: 20px;
    z-index: 9999;
}
.btn{
    all: unset;
    padding: 5px 30px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.171);
}
.btn:hover{
     color: rgb(192, 192, 192);
}
a:has(button){
    text-decoration: none;
    color: white;
}
.GoYT{
    background-color: #f44336;
}
.GoTW{
    background-color: #673ab7;
}



@media (max-width: 992px){
    body{
	min-height: fit-content;
}
    .logo{
	display: none;
}
    header{
	flex-direction: column;
	position: relative;
	margin-bottom: 300px;
}
	main{
	margin-block: 900px;
}
    .navbar{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;	
}
   .dropdown{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
  .dropdown-content{
    display: flex;
    flex-direction: column;
	position: relative;
    cursor: pointer;
    background-color: rgb(40, 41, 43)!important; 
    gap: 5px;
    padding: 20px 10px;
}
 .container{
        display: none;
    }
    .container2 {
        flex-direction: column;
	    justify-content: center;
	    align-items: center;
        width: 100%;
        
    }
    .wrapper{
	display: none;
}

}

