@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: rgb(58, 67, 124);
}
header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color:  rgb(40, 41, 43);
    padding-bottom: 20px;
    z-index: 10000;
    border-bottom: 5px solid #f0d13a;
    margin-bottom: 0;
}
header .navbar{
    display: flex;
    align-items: flex-end;

    flex-wrap: wrap;
    gap: 15px;
}
header .navbar a{
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    margin: 10px 0 0 0 ;
    color: white;
    background-color: transparent;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 120;
    font-style: normal;
}
.dropdown{
	display: flex;
	justify-content: center;

}
.dropdown button{
    text-decoration: none;
    text-align: center;
    padding: 12px 48px;
    margin: 10px 0 0 0 ;
    color: #e1e1e1;
    border: none;
    background-color: transparent;
     font-family: "Press Start 2P", system-ui;
      font-weight: 400;
      font-style: normal;
      
}
.dropdown-content{
    display: none;
    position: absolute ;
    margin: 0px 10px;
    cursor: pointer;
    background-color: rgb(40, 41, 43)!important; 
    gap: 5px;
    padding: 20px 10px;
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column; 
    
}
header .navbar> *:not(div):hover{
    background-color: rgb(56, 57, 59);
}
.dropdown-content a:hover {
    background-color: rgb(61, 62, 65);
}
.dropbtn{
    border: none;
    cursor: default;

}
.logo{
    background-color:transparent;
    backdrop-filter: blur(7px);
    margin: 50px auto;
    width: auto;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.123);
    border-radius: 35px;
    margin-top: 90px;
    
    z-index: 9999 !important;
} 
main{    
    background-color: transparent;
    display: flex;
	flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
    margin: 50px auto;
	position: relative;
              
}
.container{
	border-bottom: 3px solid black;
	display: flex;
	justify-content: space-around;
	
	width: 100%;
	
	overflow: hidden;
	background-color: white;
	
	
	
}
.box img{
	height: 700px;
		/*border: 3px solid black; */
	 
	
}
.box{
	position: relative;
	

	background-color: transparent;
	height: 700px;
	width: 25%;
	z-index: 110;
}
.box:nth-child(1){
	transform: scaleX(-1);
	margin-inline: -150px;
	z-index: 11;
}
.box:nth-child(2){
	z-index: 17;
	bottom: 150px;
	-ms-transform: translateY(50%);
  	transform: translateY(50%);
}
.box:nth-child(3){
	z-index: 16;
	scale: 1.5;

	-ms-transform: translateY(50%);
  	transform: translateY(50%);
}
.box:nth-child(4){
	z-index: 15;
	scale: 1.5;
	margin-inline: 0;
	-ms-transform: translateY(50%);
  	transform: translateY(50%);
}
.box:nth-child(5){
	z-index: 12;
	
}
.container2{
    background-color: rgb(40, 41, 43);
    display: flex;
    justify-content: center;
	margin-inline: auto;
	margin-bottom: -250px;
   	width: 100%;
    	  padding: 30px;
    position: relative;
		
    border-radius: 3px;
	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.container2 div{
    background-color: rgb(49, 49, 49);
    
    width: 160px;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
    transition: all 400ms ease-in-out;	
	

}
.container2 div button{
    position: absolute;
    bottom: 20px;
    padding: 10px 30px;
    margin: 10px 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    /* transition: transform 500ms ease-in-out; */
    transition: color 500ms ease-in-out;
}
.container2 div button:hover{
    background-color: whitesmoke;
    color: rgb(170, 170, 170);
}
.container2 div button a{
    text-decoration: none;
    color: white;
}
.container2 div article{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 53%, rgba(0,0,0,0) 92%, rgba(255,255,255,0) 100%); 
    height: 80vh;
    width: 100%;
    border-radius: 10px;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    transition: opacity 1200ms ease-in-out;	

}
.container2 div:hover article{
    opacity: 1;
}
.container2 div article span{
    color: white;
    margin: 0 10px;
} 
.anime0{
    background-image: url(In_01.gif) !important;
    background-size: 400%;
    background-position-x: center; 
    background-repeat: no-repeat;
    width: 80% !important;
    
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 0px;

}
.anime1{
    background-image: url(In_02.gif) !important;
    background-size: 400%;
    background-position-x: center; 
    background-repeat: no-repeat;
       width: 80% !important;
    
    border: 2px solid white;
    border-radius: 10px;
    transition: all 5s ease-in-out;
    margin: 0px 0px;
    
}
.anime2{
    background-image: url(In_03.gif) !important;
    background-size: 400%;
    background-position-x: center; 
    background-repeat: no-repeat;
       width: 80% !important;
    
    border: 2px solid white;
    border-radius: 10px;
    margin: 0px 0px;
    
}

.A1{
    background-image: url(A123/A1.png);
    background-size: cover;
    background-origin: bottom;
		position: relative;
	z-index: 200;
}
.A2{
    background-image: url(A123/A2.png);
    background-size: cover;	
	position: relative;
	z-index: 200;
}
.A3{
    background-image: url(A123/A3.png);
    background-size: cover;
		position: relative;
	z-index: 200;
}



footer{
	height: 30dvh;
	width: 100%;
	background-color: rgb(40, 41, 43);
	
	border-top: 5px solid #f0d13a;
}


#spline{
    scale: 1.2;
}



.wrapper{
    position: absolute;
	top: 0;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}
.wrapper span img{
    height: 120px;
    width: auto;
}
.wrapper span{
    animation: flow calc(400s/ var(--i)) linear infinite;
}
@keyframes flow {
    0%{transform: translateY(110vh) scale(0.5) rotate(0deg); opacity: 1;}
    90%{transform: translateY(-20vh) scale(0.7) rotate(720deg); opacity: 0.5;}
    100%{opacity: 0; transform: translateY(-40vh) scale(0.1) rotate(1080deg);}
}






@media (max-width: 992px){
    body{
	min-height: fit-content;
}
    .logo{
	display: none;
}
    header{
	flex-direction: column;
	position: relative;
	margin-bottom: 300px;
}
	main{
	margin-block: 900px;
}
    .navbar{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;	
}
   .dropdown{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
  .dropdown-content{
    display: flex;
    flex-direction: column;
	position: relative;
    cursor: pointer;
    background-color: rgb(40, 41, 43)!important; 
    gap: 5px;
    padding: 20px 10px;
}
 .container{
        display: none;
    }
    .container2 {
        flex-direction: column;
	    justify-content: center;
	    align-items: center;
        width: 100%;
        
    }
    .wrapper{
	display: none;
}

}

